@import "src/common/styles/sass/mixins";

.textInfoContainer {
  -ms-flex: 0 0 50%;
  position: relative;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  line-height: 1.6;

  @include showLeft("", 2s, 1);

  @media screen and (min-width: 544px) {
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }
}