@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.personalInfoContainer {
  color: $textColor;
  font-family: $titleFontFamily;
  flex-direction: column;

  @include showLeft(relative, 2.5s, 1)
}