@import "src/common/styles/sass/variables.scss";
.skill {
    width: 250px;
    background-color: gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    .icon {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        background-color: $primaryColor;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
    .description {

    }
}



