.myWorkBlock {
    height: 100vh;
    background-color: coral;
}

.myWorkContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #3effb1;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}