@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.burgerNav {
  width: 100%;
  height: 100%;

  .burgerNavItems {
    @media screen and (max-width: 980px) {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding-top: 60px;
      //background-color: #252525;
    }
  }
  .burgerButton {
    @media screen and (max-width: 980px) {
      display: inline-block;
      justify-content: center;
      position: fixed;
      top: 30px;
      right: 30px;
      z-index: 1111;
      user-select: none;
      padding: 19px 0 0 16px;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      background: $bgColor;
    }
  }
}