@import "../../common/styles/sass/variables";

.header {
  background-color: $bgColor;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $textColor;
  @media screen and (min-width: 980px) {
    //background-color: $bgColor;
    //display: flex;
    //justify-content: flex-start;
    align-items: center;
    color: $textColor;
    height: 0px;
    justify-content: flex-end;
  }
}