.mainBlock {
    height: 100vh;
    background-color: #6bff80;
}

.text {
    width: 300px;
    background-color: burlywood;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: firebrick;
}

