@import "src/common/styles/sass/variables";
.footerBlock {
    min-height: 100vh;
    background-color: $bgColor;
    .footerContainer {
        flex-direction: column;
        flex-wrap: nowrap;
        .boxContainer {
            margin-top: 30px;
            width: 280px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            .box {
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                background-color: $bgColor;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
            }
        }
    }
}





